<footer class="footer">
  <div class="footer__inner">
    {{ if $.Site.Copyright }}
      <div class="copyright copyright--user">
        <span>{{ $.Site.Copyright | safeHTML }}</span>
    {{else}}
      <div class="copyright">
        <span>© {{ now.Year }} Powered by <a href="http://gohugo.io">Hugo</a></span>
    {{end}}
    {{ if $.GitInfo }}
        <span>:: [{{$.GitInfo.AbbreviatedHash}}]&nbsp; </span>
    {{ end }}
        <span>:: Theme made by <a href="https://twitter.com/panr">panr</a></span>
      </div>
  </div>
  <!-- Extended footer section-->
  {{ partial "extended_footer.html" . }}
</footer>

<script src="{{ "assets/main.js" | absURL }}"></script>
<script src="{{ "assets/prism.js" | absURL }}"></script>

