<div class="footer__inner">
    <div class="social">
        <a href="https://gitlab.com/kori-irrlicht">Gitlab</a>
        <a href="/{{.Lang}}/index.xml">RSS</a>
    </div>
</div>
<div class="footer__inner">
    <div class="legal">
        <a href="{{ .Site.Params.privacyUrl }}">{{.Site.Params.privacyName}}</a>
    </div>
</div>
<div class="footer__inner">
    <div class="center">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
        <br />
        <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">/dev/log</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://kori-irrlicht.gitlab.io" property="cc:attributionName" rel="cc:attributionURL">Kori</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
    </div>
</div>
