

{{ define "main"}}
    <main id="main">
      <div>
          <h1>Congratulations</h1>
          You found the (not so) secret 404 page. <br>
          But there is nothing to see here. Please <a href="{{ "/" | relURL }}">go away</a>.
      </div>
    </main>
{{ end }}
