.social, .legal {
    margin: 0 25%;
    text-align: center;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.social > *, .legal > * {
    margin: 1ex;
}

.icon {
    height: 64px;
    width: 64px;
}
